trigger:
  branches:
    include:
      - master  # Branch que será usada como trigger na pipeline

jobs:
  - job: build
    displayName: 'Build and Push Docker Image to Docker Hub'
    pool:
      name: 'Ryzen-Neto-Local'  # Agente local que vai rodar o pipeline
    steps:
      - script: |
          "C:\Program Files\Docker\Docker\resources\bin\docker.exe" version

          # Login no Docker Hub e verificação de erro
          echo %DOCKER_PASSWORD% | "C:\Program Files\Docker\Docker\resources\bin\docker.exe" login -u %DOCKER_USERNAME% --password-stdin
          if %ERRORLEVEL% NEQ 0 exit /b 1

          # Build e push da imagem Docker
          "C:\Program Files\Docker\Docker\resources\bin\docker.exe" buildx build --platform linux/amd64 -f $(Build.SourcesDirectory)\Dockerfile -t jpneto90/unyleya_projeto_devops:latest --push .
        displayName: 'Build and Push Docker Image'
        env:
          DOCKER_USERNAME: $(DOCKER_USERNAME)  # Variável de ambiente com o usuário do Docker Hub
          DOCKER_PASSWORD: $(DOCKER_PASSWORD)  # Variável de ambiente com a senha do Docker Hub
